<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bossly.lviv.transit"
    android:installLocation="preferExternal"
    android:versionCode="22"
    android:versionName="1.5.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="CoreApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.bossly.lviv.transit.activities.DashboardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bossly.lviv.transit.activities.NearRoutesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bossly.lviv.transit.activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bossly.lviv.transit.activities.RouteMapActivity" />

        <service android:name="com.bossly.lviv.transit.services.TransitService" />
        <service android:name="com.bossly.lviv.transit.services.TrackingService" >
        </service>

        <provider
            android:name="com.bossly.lviv.transit.data.RoutesDataProvider"
            android:authorities="com.bossly.lviv.transit.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>